{
    "port": 3000,
    "environment": "development",
    "cameras": [
        {
            "name": "Webcam",
            "stream": "/dev/video0",
            "fps": 24
        },
        {
            "name": "Axis",
            "stream": "http://admin:admin@172.22.22.21/mjpg/video.mjpg",
            "fps": 25
        },
        {
            "name": "iMege",
            "stream": "rtsp://admin:admin@172.22.22.22:554/stream1",
            "fps": 25
        },
        {
            "name": "HIKVISION",
            "stream": "rtsp://admin:admin@172.22.22.23//PSIA/streaming/channels/101",
            "fps": 30
        }
    ]
}
